.macxim-Svg--codepen {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--external-link {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--facebook {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--github {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--instagram {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--linkedin {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--skype {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--spotify {
  width: 1.231em;
  height: 1.231em;
}

.macxim-Svg--twitter {
  width: 1.231em;
  height: 1em;
}

.macxim-Svg--whatsapp {
  width: 1.231em;
  height: 1.231em;
}

