@font-face {
    font-family: 'Overlock';
    src: url('../../fonts/overlock-bold-webfont.eot');
    src: url('../../fonts/overlock-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/overlock-bold-webfont.woff2') format('woff2'),
         url('../../fonts/overlock-bold-webfont.woff') format('woff'),
         url('../../fonts/overlock-bold-webfont.ttf') format('truetype'),
         url('../../fonts/overlock-bold-webfont.svg#overlockbold') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Overlock';
    src: url('../../fonts/overlock-italic-webfont.eot');
    src: url('../../fonts/overlock-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/overlock-italic-webfont.woff2') format('woff2'),
         url('../../fonts/overlock-italic-webfont.woff') format('woff'),
         url('../../fonts/overlock-italic-webfont.ttf') format('truetype'),
         url('../../fonts/overlock-italic-webfont.svg#overlockitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Overlock';
    src: url('../../fonts/overlock-regular-webfont.eot');
    src: url('../../fonts/overlock-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/overlock-regular-webfont.woff2') format('woff2'),
         url('../../fonts/overlock-regular-webfont.woff') format('woff'),
         url('../../fonts/overlock-regular-webfont.ttf') format('truetype'),
         url('../../fonts/overlock-regular-webfont.svg#overlockregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Novecento Sans Wide Bold';
    src: url('../../fonts/Novecentosanswide-Bold-webfont.eot');
    src: url('../../fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Novecentosanswide-Bold-webfont.woff2') format('woff2'),
         url('../../fonts/Novecentosanswide-Bold-webfont.woff') format('woff'),
         url('../../fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  font-family: 'Overlock', 'Lucida Grande', 'Lucida Sans Unicode', Lucida, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Novecento Sans Wide Bold', Georgia, serif;
  color: var(--primary-Color);
}