---
layout: typo
---
<!doctype html>
<html lang="{{ page.lang }}" class="r-Defaults">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% if page.type == 'pages' %}{{ site.t[page.lang].description }}{% else %}{{ page.excerpt | strip_html | replace: "[[", " ("  | replace: "]]", ")" }}{% endif %}">

    <title>{{ page.title | strip_html }} – Maxime Laforet</title>

    <link rel="icon" href="/assets/img/favicon.ico" />

    {% assign posts=site.posts | where:"name", page.name %}
    {% for post in posts %}
      {% if post.lang != page.lang %}
        <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url}}" />
      {% endif %}
    {% endfor %}

    <link rel="alternate" href="/rss.xml" type="application/rss+xml" />
    <link rel="stylesheet" href="/assets/css/dist/index.css">
  </head>

  <body>
    <div style="display: none;">
      {% include svg-symbols.svg %}
    </div>

    <header class="site-header">
      <div class="site-header-overlay"></div>
      <a class="site-logo" href="{{ site.t[page.lang].url }}"><img src="/assets/img/macxim-logo.svg" alt=""></a>
      <ul class="site-nav">
        {% for menu in site.nav[page.lang] %}
          <li class="site-nav__item"><a {% if page.url == menu[1].url %}class="active"{% endif %} href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>
        {% endfor %}
      </ul>
      <ul class="site-lang">
        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
        {% for post in posts %}
          <li class="site-lang__item {{ post.lang }}"><a href="{{ post.url }}">{{ post.lang }}</a></li>
        {% endfor %}
      </ul>
    </header>

    <main class="r-Grid">
      <h1 class="page__title {% if page.url == site.t[page.lang].url %}limited-visibility{% endif %}">{{ page.title }}</h1>

      <div class="r-Grid-cell">
        <article class="article r-VerticalRhythm {% if page.type != 'pages' %}post-content{% endif %}">
          {% if page.type != 'pages' %}
          <p class="post-date">
            {% include date.html date=page.date %}
          </p>
          {% endif %}
          {{ content }}
        </article>
      </div>
    </main>

    <footer class="site-footer r-Grid">
      <div class="r-Grid-cell">
        <a title="Pocket" class="footer__icon" href="https://getpocket.com/@macxim"><svg class="macxim-Svg-icon macxim-Svg--pocket"><use xlink:href="#macxim-Svg--pocket" /></svg></a>
        <a title="Facebook" class="footer__icon" href="https://www.facebook.com/maxime.laforet"><svg class="macxim-Svg-icon macxim-Svg--facebook"><use xlink:href="#macxim-Svg--facebook" /></svg></a>
        <a title="Twitter" class="footer__icon" href="https://twitter.com/macxim"><svg class="macxim-Svg-icon macxim-Svg--twitter"><use xlink:href="#macxim-Svg--twitter" /></svg></a>
        <a title="GitHub" class="footer__icon" href="https://github.com/macxim/"><svg class="macxim-Svg-icon macxim-Svg--github"><use xlink:href="#macxim-Svg--github" /></svg></a>
        <a title="LinkedIn" class="footer__icon" href="https://www.linkedin.com/in/maximelaforet"><svg class="macxim-Svg-icon macxim-Svg--linkedin"><use xlink:href="#macxim-Svg--linkedin" /></svg></a>
        <a title="Instagram" class="footer__icon" href="https://www.instagram.com/macx1m/"><svg class="macxim-Svg-icon macxim-Svg--instagram"><use xlink:href="#macxim-Svg--instagram" /></svg></a>
        <a title="Skype" class="footer__icon" href="skype:maxime.laforet?userinfo"><svg class="macxim-Svg-icon macxim-Svg--skype"><use xlink:href="#macxim-Svg--skype" /></svg></a>
        <a title="Spotify" class="footer__icon" href="https://play.spotify.com/user/mac_xim"><svg class="macxim-Svg-icon macxim-Svg--spotify"><use xlink:href="#macxim-Svg--spotify" /></svg></a>
        <a title="Codepen" class="footer__icon" href="http://codepen.io/Macxim/"><svg class="macxim-Svg-icon macxim-Svg--codepen"><use xlink:href="#macxim-Svg--codepen" /></svg></a>
        <a title="WhatsApp" class="footer__icon" href="tel:+34636174810"><svg class="macxim-Svg-icon macxim-Svg--whatsapp"><use xlink:href="#macxim-Svg--whatsapp" /></svg></a>
        <a title="Sens Critique" class="footer__icon" href="http://www.senscritique.com/Macxim"><svg class="macxim-Svg-icon macxim-Svg--senscritique"><use xlink:href="#macxim-Svg--senscritique" /></svg></a>
        <a title="Foursquare" class="footer__icon" href="https://foursquare.com/macxim"><svg class="macxim-Svg-icon macxim-Svg--foursquare"><use xlink:href="#macxim-Svg--foursquare" /></svg></a>
      </div>
    </footer>

    <div class="page__photo-credit">
      {% if photoCreditUrl != empty %}
        <a href="{{ page.photoCreditUrl }}" target="_blank">{{ site.t[page.lang].photoCredit }} {{ page.photoCreditName }}</a>
      {% else %}
        <span>{{ site.t[page.lang].photoCredit }} {{ page.photoCreditName }}</span>
      {% endif %}
    </div>

  <style>.site-header{background-image: url('/assets/img/headers/{{ page.date | date:'%Y-%m-%d' }}.jpg');}</style>
  <script>{% include script.js %}</script>
  </body>
</html>
