---
layout: default
---

{{ content }}

<section class="r-Grid">
  <div class="r-Grid-cell">
    <ul class="posts-list">
      {% assign posts=site.posts | where:"name", page.name | sort: 'lang' | where:"type", posts %}
      {% for post in posts %}
      <li class="posts-list__item">
        <span class="posts-list__item-date">{% include date.html date=post.date %}</span>
        <p class="posts-list__item-excerpt">
          <a class="posts-list__item-title" href="{% if post.external %}{{ post.external.url }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}{% if post.external %}<svg class="macxim-Svg-icon macxim-Svg--external-link"><use xlink:href="#macxim-Svg--external-link" /></svg>{% endif %}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
