---
layout: default
---

<section class="r-Grid">
  <div class="r-Grid-cell">
    <ul class="posts-list posts-list--projects">
      {% assign projects=site.projects | where:"lang", page.lang | where:"type", "collections" %}
      {% for project in projects reversed %}
      <li class="posts-list__item posts-list__item--project" style="background-color: #{{ project.color }}">
        <img class="project-img" src="{{ project.img }}" alt="">
        <div class="project-caption">
          <h2 class="posts-list__item-title posts-list__item--project-title limited-visibility" >{{ project.title }}</h2>
          <p class="posts-list__item--project-desc">{{ project.content }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
