---
layout: default
---

{{ content }}

<section class="r-Grid">
  <div class="r-Grid-cell">
    <ul class="posts-list">
      {% assign posts=site.posts | where:"lang", page.lang | where:"type", posts %}
      {% for post in posts %}
      <li class="posts-list__item">
        <span class="posts-list__item-date">{% include date.html date=post.date %}</span>
        <p class="posts-list__item-excerpt">
          <a class="posts-list__item-title" href="{{ post.url }}">{{ post.title }}</a>
          {{ post.excerpt | markdownify | strip_html }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

