.site-logo{
	@extend .fl;
	display: block;
	width: 100px;
	height: 100px;
	background-image: url(../img/logo_ml.png);
	background-position: center center;
	background-repeat: no-repeat;
	color: transparent;
	text-shadow: none;
	font: 0/0 a;
	}
.svg .site-logo{
	background-image: url(../img/logo_ml.svg);
	}